#include "resource.h"

#ifndef APSTUDIO_INVOKED
#include "targetver.h"
#endif

#include "windows.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

IDI_AUTOFISHING              ICON                  "auto-fishing.ico"

IDC_AUTOFISHING      MENU
BEGIN
        POPUP "&File"
        BEGIN
                MENUITEM "E&xit",      IDM_EXIT
        END
        POPUP "&Help"
        BEGIN
                MENUITEM "&About...",      IDM_ABOUT
        END
END

IDD_ABOUTBOX      DIALOGEX      0,      0,      230,      90
STYLE      DS_SETFONT      |      DS_MODALFRAME      |      DS_FIXEDSYS      |      WS_POPUP      |      WS_CAPTION      |      WS_SYSMENU
CAPTION      "About VRChat Auto Fishing"
FONT      9,      "MS Shell Dlg"
BEGIN
        ICON                        IDI_AUTOFISHING,  IDC_STATIC,  14,  14,  21,  20
        LTEXT                      "VRChat Auto Fishing",  IDC_STATIC,  42,  14,  170,  8,  SS_NOPREFIX
        LTEXT                      "Author: laomo(gujimy)",  IDC_STATIC,  42,  28,  170,  8
        LTEXT                      "GitHub: https://github.com/gujimy",  IDC_STATIC,  42,  42,  170,  8
        LTEXT                      "Copyright (C) 2025",  IDC_STATIC,  42,  56,  170,  8
        DEFPUSHBUTTON      "OK",  IDOK,  160,  70,  50,  14,  WS_GROUP
END

STRINGTABLE
BEGIN
        IDS_APP_TITLE              "auto-fishing"
        IDC_AUTOFISHING            "AUTOFISHING"
END
